{
  "openapi": "3.0.3",
  "info": {
    "title": "Customer API",
    "description": "A simple API to retrieve customer records.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://doohickeyai.free.beeceptor.com",
      "description": "Mock Server"
    }
  ],
  "paths": {
    "/customers": {
      "get": {
        "summary": "Get a list of customers",
        "description": "Retrieve customer records, optionally filtered by created_at or updated_at timestamps.",
        "parameters": [
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter customers by creation timestamp (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at",
            "in": "query",
            "description": "Filter customers by last updated timestamp (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of customer records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                          },
                          "first_name": {
                            "type": "string",
                            "example": "John"
                          },
                          "last_name": {
                            "type": "string",
                            "example": "Doe"
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "example": "johndoe@example.com"
                          },
                          "phone_number": {
                            "type": "string",
                            "example": "+1-555-123-4567"
                          },
                          "date_of_birth": {
                            "type": "string",
                            "format": "date",
                            "example": "1990-05-15"
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "street": {
                                "type": "string",
                                "example": "123 Main St"
                              },
                              "city": {
                                "type": "string",
                                "example": "Springfield"
                              },
                              "state": {
                                "type": "string",
                                "example": "IL"
                              },
                              "postal_code": {
                                "type": "string",
                                "example": "62704"
                              },
                              "country": {
                                "type": "string",
                                "example": "USA"
                              }
                            }
                          },
                          "loyalty_status": {
                            "type": "string",
                            "enum": ["Bronze", "Silver", "Gold", "Platinum"],
                            "example": "Gold"
                          },
                          "account_balance": {
                            "type": "number",
                            "format": "float",
                            "example": 250.75
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-03-01T12:00:00Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-03-05T15:30:00Z"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  }
}
